<div class="container">
  <h1>Our cocktails!</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card p-3">
          <%= link_to(cocktail_path(cocktail)) do %>
            <h4><%= cocktail.name %></h4> 
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>




