// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $body-bg;
  margin: 5px 0;
  padding: 6px 20px;
  max-width: 500px;
  p {
    margin: 0;
  }
}

.container > a {
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: inherit;
    opacity: 0.9;
  }
}